<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table</title>
    <link rel="stylesheet" href="static/main.css">
    <style>
        table, td, th {  
          border: 1px solid #ddd;
          text-align: left;
        }
        
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          padding: 15px;
        }
        </style>

</head>
<body>
    <nav>
        <h2>Go Physio</h2>
    </nav> <br><br>
    <center>
    <h1>Patient Overview</h1>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Patient Name</th>
                    <th>Symptom</th>
                    <th>Recommended Exercise</th>
                    <th>Vist Date</th>
                    <th>Patient Summary</th>
                    <th>Review</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Diego Lopez</td>
                    <td>Shoulder pain</td>
                    <th>Arm stretches</th>
                    <td>07/12/22</td>
                    <td>Feeling better</td>
                    <td>Continue for a week</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>John Peter </td>
                    <td>Wrist pain</td>
                    <th>Ankle Rotation</th>
                    <td>07/03/23</td>
                    <td>Still the same</td>
                    <td>Different exercises</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Susan Jade </td>
                    <td>Leg twist</td>
                    <th>Knee Rotation/th>
                    <td>08/12/23</td>
                    <td>Feeling good</td>
                    <td>BContinue this week</td>
                </tr>
            </thead>
            <tbody>
                   
                
            </tbody>
        </table>
    </center>
</body>
</html>
