<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css')}}">
    <title>Login</title>
</head>
<body>
    <nav>
        <h2>Go Physio</h2>

    </nav> <br><br>

    <center>
        <h3>Login Here: </h3><br>
        <form action="{{url_for('login') }}" method="POST">
            {% if msg is defined and msg!="" %}
            <label>{{msg}}</label>
            {% endif %}
            <br/>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <input type="submit" value="Login">
        </form><br>
        <p>If you are not a user, <a href="{{url_for('register')}}">Sign Up</a> here.</p>
    </center>
</body>
</html>
