<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body  class="homeback" >
    <nav>
        <h2>Go Physio</h2>
        <div class="loginContainer">
            <li><button id="Login">Login</button></li>
            <!--<li><button id="doctorLogin">Doctor login</button></li> -->
        </div>
    </nav>
    <div>
     </div>
   

</body>
<script src="main.js"></script>
</html>